<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Primary Meta Tags -->
		<title-description />

		<!-- Manifest -->
		<link rel="manifest" href="/manifest.json" />

		<!-- Theme -->
		<meta name="color-scheme" content="dark" />
		<meta name="theme-color" content="#eac531" />

		<!-- Icons -->
		<icon name="logo" />

		<!-- Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

		<!-- Styles -->
		<link rel="stylesheet" href="/compiled-styles.css" />

		<!-- Scripts -->
		<script src="/compiled-scripts.js" defer></script>
	</head>

	<body>
		<h2>Hello world</h2>
	</body>
</html>
